<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
    <title>Encostaki</title>
    <link rel="icon" href="imgs\logopinfinal.png" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">
    <%= stylesheet_link_tag "css/bootstrap" %>
    <link href="css/cadastro.css" type="text/css"  rel="stylesheet">
</head>


<body>
  <div class="container-fluid">
    <div class="row" id="site">
      <div class="col-md-4">
        <div id="esquerda-l">
        </div>
      </div>
      <div class="col-md-4 text-center">
        <div id="centro">
          <h1>Cadastro</h1>
          <p>Nome:</p>
          <input type="text" name="Nome">
          <p>E-mail:</p>
          <input type="text" name="CPF"> 
           <p>Nome de Usuário:</p>
          <input type="text" name="username">
           <p>CEP:</p>
          <input type="text" name="CEP">   
           <p>Complemento:</p>
          <input type="text" name="Complemento">   
           <p>Número da casa:</p>
          <input type="text" name="Número da casa">               
          <p>Voltar ao <a href="#">Menu principal</a></p>
          <button type="button" name="enviar" class="btn btn-warning">Cadastrar</button>
        </div>
      </div>

    </div>
  </div>

</body>
<footer id="rodape">
Copyright 2017 - by EncostAki<br>
</footer>
</html>