

/* Corpo */
@font-face {
	font-family: 'Bree Serif', serif;
}

div#centro {
	height: 500px;
	background-color: #5C3317;
	border-radius: 5px;
	
}

div#centro p{
	color: white;
	font: 16px Bree Serif, Arial, Tahoma, Sans-serif;
}



div#centro h1{
	margin-top: 0;
	padding-top: 8px;
	padding-left: auto;
	padding-right: auto;
	font: 35px Bree Serif, Arial, Tahoma, Sans-serif;
	color: white;
}



div#centro button{
	font: 15px Bree Serif, Sans-serif;
	width: 180px;
}


/* Rodapé só pelo lulz */

footer#rodape {
	clear: both;
	border-top: 1px solid #606060;
}

footer#rodape{
	text-align: center;

}

footer#rodape a{
	text-decoration: none;
}