// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* Formatação do Menu */

/* Formatação do Menu */

nav#menu{
	display: block;
}

nav#menu ul {
	list-style: none;
	text-transform: capitalize;
	position: absolute;
	top: -10px;
	left: 1150px;

}	

nav#menu li{
	display: inline-block;
	background-color: #65737e;
	padding: 7px;
	margin: 2px;
	border-radius: 5px;
	transition: background-color 1s;
}

nav#menu li:hover {
	background-color: #FFFFFF
}

nav#menu a {
	color: #000000;
	text-decoration: none;
}

nav#menu a:hover {
	color: black;
}

nav#menu h1{
	display: none;
}


/* Corpo */

.container img {
    max-width:200px;
    max-height:150px;
    width: auto;
    height: auto;
    position: absolute;
    top: 50px;
    right: 130px;
}


div#site {
	width: 1350px;
	height: 600px;
	margin-top: 0;
	margin-left: auto;
	margin-bottom: 0;
	margin-right: auto;
	background-color: white;


}

div#direita{
  width: 480px;
  height: 570px;
  background-color: #27408B;
  float: right;
  border-radius: 8px;
 
}

div#esquerda{
  width: 900px;
  height: 600px;

}


/* Mapa */

div#map {
  height: 100%;
}




/* Botão de Busca */

.container-4{
	display: block;
    position: absolute;
    top: 120px;
    left: 1250px;

}


.container-4{
  overflow: hidden;
  width: 300px;
  vertical-align: middle;
  white-space: nowrap;
}

.container-4 input#search{
  width: 300px;
  height: 50px;
  background: #2b303b;
  border: none;
  font-size: 10pt;
  float: left;
  color: #fff;
  padding-left: 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.container-4 input#search::-webkit-input-placeholder {
   color: #65737e;
}
 
.container-4 input#search:-moz-placeholder { /* Firefox 18- */
   color: #65737e;  
}
 
.container-4 input#search::-moz-placeholder {  /* Firefox 19+ */
   color: #65737e;  
}
 
.container-4 input#search:-ms-input-placeholder {  
   color: #65737e;  
}

.container-4 button.icon{
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
 
  border: none;
  background: #232833;
  height: 50px;
  width: 50px;
  color: #4f5b66;
  opacity: 0;
  font-size: 10pt;
 
  -webkit-transition: all .55s ease;
  -moz-transition: all .55s ease;
  -ms-transition: all .55s ease;
  -o-transition: all .55s ease;
  transition: all .55s ease;
}

.container-4:hover button.icon, .container-4:active button.icon, .container-4:focus button.icon{
  outline: none;
  opacity: 1;
  margin-left: -50px;
}
 
.container-4:hover button.icon:hover{
  background: white;
}



/* Rodapé só pelo lulz */

footer#rodape {
	clear: both;
	border-top: 1px solid #606060;
}

footer#rodape{
	text-align: center;

}

footer#rodape a{
	text-decoration: none;
}