// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* Formatação do Menu */
@font-face {
	font-family: 'Bree Serif', serif;
}

/* Corpo */

#logo{
  width: 40%;
}

div#site {
	width: 1350px;
	height: 600px;
	margin-top: 0;
	margin-left: auto;
	margin-bottom: 0;
	margin-right: auto;
	background-color: white;


}

div#direita{
  width: 480px;
  height: 570px;
  background-color: #27408B;
  float: right;
  border-radius: 8px;
 
}

div#esquerda{
  width: 100%;
  height: 600px;

}


/* Mapa */

div#map {
	margin-left: 370px;
    height: 600px;
    width: 60%;
    
}

/* Rodapé só pelo lulz */

footer#rodape {
	clear: both;
	border-top: 1px solid #606060;
}

footer#rodape{
	text-align: center;

}

footer#rodape a{
	text-decoration: none;
}