/* Page de Login */


/* Corpo */
@font-face {
	font-family: 'Bree Serif', serif;
}

div#centro {
	height: 500px;
	background-color: #5C3317;
	border-radius: 5px;
	
}

div#centro p{
	color: white;
	font: 18px Bree Serif, Arial, Tahoma, Sans-serif;
}

div#centro p1{
	color: white;
	font: 15px Bree Serif, Arial, Tahoma, Sans-serif;
}

div#centro h1{
	margin-top: 5px;
	padding-top: 10px;	
	color: white;
	font: 35px Bree Serif, Arial, Tahoma, Sans-serif;
}

#logopin{
	width: 2em;
	margin-right: -170px;
	margin-top: -90px;
}



div#centro button{
	font: 15px Bree Serif, Sans-serif;
	width: 180px;
}
/* Rodapé só pelo lulz */

footer#rodape {
	clear: both;
	border-top: 1px solid #606060;
}

footer#rodape{
	text-align: center;

}

footer#rodape a{
	text-decoration: none;
}