/* Page de Login */


/* Formatação do Menu */

nav#menu{
	display: inline;
}

nav#menu ul {
	list-style: none;
	text-transform: capitalize;
	margin-right: 100px;
}

nav#menu li{
	display: inline-block;
	background-color: #65737e;
	padding: 7px;
	border-radius: 5px;
	transition: background-color 1s;
}

nav#menu li:hover {
	background-color: #FFFFFF
}

nav#menu a {
	color: #000000;
	text-decoration: none;
}

nav#menu a:hover {
	color: white;
}

nav#menu h1{
	display: none;
}




/* Corpo */


div#centro {
	height: 500px;
	background-color: #27408B;
	border-radius: 5px;
}

div#centro p{
	color: white;
}


div#centro h2{
	margin-top: 0;
	padding-top: 100px;
	padding-left: auto;
	padding-right: auto;
	color: white;
}





/* Bloco login*/






/* Rodapé só pelo lulz */

footer#rodape {
	clear: both;
	border-top: 1px solid #606060;
}

footer#rodape{
	text-align: center;

}

footer#rodape a{
	text-decoration: none;
}