/* Corpo */
@font-face {
	font-family: 'Bree Serif', serif;
}

div#meio {
	height: 630px;
	background-color: #5C3317;
	border-radius: 5px;
	
}

div#meio p{
	color: white;
	font: 18px Bree Serif, Arial, Tahoma, Sans-serif;
}

div#meio p2{
	color: white;
	font: 13px Bree Serif, Arial, Tahoma, Sans-serif;
}

div#meio h1{
	margin-top: 5px;
	padding-top: 10px;	
	color: white;
	font: 35px Bree Serif, Arial, Tahoma, Sans-serif;
}


div#meio button{
	font: 15px Bree Serif, Sans-serif;
	width: 180px;
}

#logopi{
	width: 2em;
	margin-right: -235px;
	margin-top: -90px;
}