/* Corpo */
@font-face {
	font-family: 'Bree Serif', serif;
}


div#meio-m {
	height: 600px;
	background-color: #5C3317;
	border-radius: 5px;
}

div#meio-m p{
	color: white;
	font: 18px Bree Serif, Arial, Tahoma, Sans-serif;
}

div#meio-m p2{
	color: white;
	font: 13px Bree Serif, Arial, Tahoma, Sans-serif;
}


div#meio-m h2{
	margin-top: 5px;
	padding-top: 10px;	
	color: white;
	font: 35px Bree Serif, Arial, Tahoma, Sans-serif;
}

#logop{
	width: 2em;
	margin-right: -350px;
	margin-top: -90px;
}