<% if current_member.admin? %>
    
    
    <%= render 'form', area: @area %>
    
    <%= link_to 'Back', areas_path %>
<%else %>
  <p>VOCÊ NÃO TEM PERMISSÃO PARA ISSO, APENAS UM ADMINISTRADOR TEM ACESSO!</p>
<%end%>