<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <title>Encostaki</title>

    <link rel="icon" href="EncostAki/app/assets/images/logopinfinal.png" type="image/x-icon"/>
    <link href="encostaki-1/EncostAki/app/views/home/font-awesome-4.7.0/css/font-awesome.css" rel="stylesheet">
    <link href="encostaki-1/EncostAki/app/views/home/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/EncostAki/app/assets/stylesheets/home.scss">
    <meta name="viewport" content="width=device-width"/>


</head>

<body>

<div id="site">
    <div id="direita">
	   <div id="interface">
    	   <header id="cabecalho">

    	   <hgroup>
    	   <div class="container">	
    	   <h1><img src="/EncostAki/app/assets/images/logofinal.png" width="200" height="150"></h1>
    	   </div>
    	   </hgroup>

    	   <nav id="menu">
		  <h1>Menu Principal</h1>
 		 <ul>
 		 <li><a href="#">Home</a></li>
 		 <li><a href="/users">Cadastrar</a></li>
 		 <li><a href="/login">Login</a></li>
 		 <li><a href="#">Chamados</a></li>
 		 <li><a href="#">Informações</a></li>
 		 <li><a href="#">Estatísticas</a></li>
 		 </ul>
		  </nav>
    	  </header>
	   </div>
 
	   <div id="lateral">
		  <div class="box">
  			   <div class="container-4">
    			 <input type="search" id="search" placeholder="Procure aqui..." />
    			 <button class="icon"><i class="fa fa-search" aria-hidden="true"></i></button>
  			   </div>
		  </div>

	   </div>
    </div>




    <div id="esquerda">
        <div id="map"></div>
        <script>
            function initMap() {
                var cin = {lat: -8.055590, lng: -34.951344};
                var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 10,
                center: cin
            });
            var marker = new google.maps.Marker({
                position: cin,
                map: map
            });
        }
        </script>
        <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAVW_TaNxAKo2ATMVcdf2Q1YQlFe_H7-zY&callback=initMap">
        </script>


</div>

 <footer id="rodape">
Copyright 2017 - by EncostAki<br>
</footer>


</body>
</html>