<p>Olá <%= @resource.email %>!</p>

<p>Você fez a requisição de mudar senha? Você pode fazer isso a partir do link abaixo!</p>

<p><%= link_to 'Mudar minha senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se você não fez essa requisição, por favor ignore esse erro.</p>
<p>Sua senha não será alterada até você clicar no link.</p>
