<div align="center" class="container">
  <h1 class="title">Comentários</h1>
  <div id="messages">
    <%= render @messages %>
  </div>

  <form>
    <input type="text" data-behavior="chat_speaker" placeholder=" Faça um comentário :) ">
  </form>
</div>