<%= render partial: "navbar" %> 

<div style="text-align:center">
    <h1> Estatísticas </h1>
</div>
<%= pie_chart Area.group(:localidade).count %>

<%= pie_chart Area.group(:bairro).count %>


<%= bar_chart Area.group(:localidade).count %>
