<!DOCTYPE html>

<html>
<head>
	<meta charset="utf-8">
	<title>Encostaki</title>
    <%= stylesheet_link_tag "css/bootstrap.css" %>
    <link href="stylesheets/testeae.css" type="text/css"  rel="stylesheet">

</head>

<body>
    <h1>Menu Principal</h1>
				<ul>
					<li><a href="#">Eu</a></li>
					<li><a href="#">Ae</a></li>
					<li><a href="#">Ma</a></li>
					<li><a href="#">Nas</a></li>
					<li><a href="#">Hackers</a></li>
			</ul>  
    
    
</body>

</html>
 <footer id="rodape">
Copyright 2017 - by EncostAki<br>
</footer>
