<!DOCTYPE html>
<html>
  <head>
    <title>EncostAki</title>
    <%= csrf_meta_tags %>
    <link rel="icon" type="image/png" href="favicon.png">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
