<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <title>Encostaki</title>
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">
    <link rel="icon" href="imgs\logopinfinal.png" type="image/x-icon" />
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
	<%= stylesheet_link_tag "css/bootstrap" %>
    <link href="css/login.css" type="text/css"  rel="stylesheet">
</head>


<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-4 col-sm-4">
				<div id="esquerda-l">
				</div>
			</div>
			<div class="col-md-4 text-center col-sm-4 text-center">
				<div id="centro">		
					<h1>Login</h1>
					<h2><%= image_tag "logopinfinal",id:"logopin"%></h2>																		
					<p>Usuário:</p>
					<input type="text" name="login">
					<p>Senha:</p>
					<input type="password" name="senha">					
					<p>Não possui conta?<a href="/users"> Cadastre-se</a></p>
					<button type="button" class="btn btn-warning">Entrar</button>
						
				</div>
			</div>

		</div>
	</div>

</body>
<footer id="rodape">
Copyright 2017 - by EncostAki<br>
</footer>
</html>