<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <title>Encostaki</title>
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">
    <link rel="icon" href="imgs\logopinfinal.png" type="image/x-icon" />
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
		<%= stylesheet_link_tag "css/bootstrap" %>
		<%= stylesheet_link_tag "login" %>
    <!-- <link href="login.scss" type="text/css"  rel="stylesheet"> -->
</head>


<body>
	<div class="container login">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<h1>Login</h1>
				<%= image_tag "logopinfinal",id:"logopin"%>
				<form class=""  method="get">
					<div class="form-group">
						<label for="login">Usuário: </label>
						<input type="text" class="form-control" name="login" id="login">
					</div>
					<div class="form-group">
						<label for="senha">Senha:</label>
						<input class="form-control" type="password" name="senha" id="senha">
					</div>

					<p>Não possui conta?<a href="/users"> Cadastre-se</a></p>
					<button id="submitButton" type="submit" class="btn btn-default">Entrar</button>
				</form>


			</div>
			<!-- <div class="col-md-4 text-center col-sm-4 text-center">
				<div id="centr">

				</div>
			</div> -->

		</div>
	</div>

	<!-- <footer id="rodap">
	Copyright 2017 - by EncostAki<br>
	</footer> -->
</body>

</html>
